* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbc547;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  text-align: center;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

ol {
  list-style-position: inside;
  padding-left: 0;
}

ul {
  list-style-type: none;
}

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}

img {
  width: 150px;
  height: 150px;
}

h1 {
  margin-top: 32px;
}

h2 {
  margin-top: 16px;
  margin-bottom: 16px;
}
