<footer>
  <div class="flex flex-col gap-2">
    <ul class="text-sm flex justify-around">
      <li>
        <a href="https://home-street-home-records.bandcamp.com" class="opacity-40 hover:opacity-100 transition">Bandcamp</a>
      </li>
      <li>
        <a href="https://www.discogs.com/label/827644-Home-Street-Home-Records" class="opacity-40 hover:opacity-100 transition">Discogs</a>
      </li>
      <li>
        <a href="https://www.instagram.com/homestreethome.records" class="opacity-40 hover:opacity-100 transition">Instagram</a>
      </li>
      <li>
        <a href="https://bandcamp.com/contact?b=394397781&n=Home%20Street%20Home%20Records%20&email=homestreethome.rec%40gmail.com" class="opacity-40 hover:opacity-100 transition">Contact</a>
      </li>
    </ul>
  </div>
</footer>
