<header class="flex flex-col items-center justify-center">
  <div class="text-2xl">home street home records</div>
  <div class="text-gray-400 text-sm">
    We're a music label based in Aarau, Switzerland.
  </div>
</header>
